@model hospital_project.Models.PatientDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this patient?</h2>

<h2>@Model.patient_fname @Model.patient_surname</h2>
<h2>@Model.patient_condition</h2>

<div class="container">
    <a href="/Patient/list" class="button-cancel">Cancel</a>
    <form action="/patient/delete/@Model.patient_id" method="POST">
        <input type="submit" value="Yes, Confirm Delete" class="button-delete"/>
    </form>
</div>

