@model hospital_project.Models.PatientDto

@{
    ViewBag.Title = "View";
}

<a href="/patient/list"> &#8592; Back to Patient List</a>

<h2>Patient Information</h2>

<h4>Patient Name: @Model.patient_fname @Model.patient_surname</h4>

