@model hospital_project.Models.PatientDto

@{
    ViewBag.Title = "Create";
}
<h1><a href="/patient/list"> &#8592; Back to Patient List</a> </h1>

<h2>Add a Patient</h2>

<form action="/patient/create" method="POST">
    <div>
        <label>Patient First Name:  </label>
        <input name="patient_fname" type="text" />
    </div>
    <div>
        <label>Patient Last Name:  </label>
        <input name="patient_surname" type="text" />
    </div>
    <div>
        <label>Healthcard Number:  </label>
        <input name="healthcard_id" type="text" />
    </div>
    <div>
        <label>Date of Birth:  </label>
        <input name="patient_birthday" type="text" />
    </div>
    <div>
        <label>Phone Number:  </label>
        <input name="patient_phoneNum" type="text" />
    </div>
    <div>
        <label>Condition:  </label>
        <input name="patient_condition" type="text" />
    </div>
    <div>
        <label>Primary Physician:  </label>
        <input type="number" name="physician_id" />
    </div>
    <div>
        <input type="submit" value="Add Patient" />
    </div>
</form>
