@model IEnumerable<hospital_project.Models.AppointmentDto>

@{
    ViewBag.Title = "List";
}


<a href="/Appointment/list"> &#8592; Back to Appointment List</a>

<h2>Appointment List </h2>
@foreach (var appointment in Model)
{
    <h2><a href="/appointment/details/@appointment.appointment_id">@appointment.appointment_name</a></h2>
}
