@model hospital_project.Models.AppointmentDto

@{
    ViewBag.Title = "Create";
}


<a href="/Appointment/list"> &#8592; Back to Appointment List</a>


<h2>Add an Appointment</h2>

<form action="/appointment/create" method="POST">

    <div>
        <label>
            Patient:
        </label>
        <select name="patient_id">
            @foreach (var patients in Model)
            {
                <option value="@patients.patient_id">@patients.patient_id</option>
            }
        </select>
    </div>
    <div>
        <label>
            Physician:
        </label>
        <select name="physician_id">
            @foreach (var physician in Model)
            {
                <option value="@physician.physician_id">@physician.patient_id</option>
            }
        </select>
    </div>
    
        <div>
            <label>Healthcard Number:  </label>
            <input name="healthcard_id" type="text" />
        </div>
        <div>
            <label>Date of Appointment:  </label>
            <input name="appointment_date" type="datetime" />
        </div>
        <div>
            <label>Phone Number:  </label>
            <input name="patient_phoneNum" type="text" />
        </div>
        <div>
            <label>Condition:  </label>
            <input name="patient_condition" type="text" />
        </div>
     
    
    
    <div>
        <input type="submit" value="Create Appointment" />
    </div>
</form>
